<div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="modalCrearLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCrearLabel">Crear Nuevo Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/save" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="usuario" name="usuario">
                        <label for="floatingInput">Usuario</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="rol" name="rol" aria-label="Floating label select example">
                            <option selected>Selecciona el rol</option>
                            <option>Admin</option>
                            <option>Usuario</option>
                        </select>
                        <label for="floatingSelect">Rol</label>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Crear Usuario</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>